nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav__txt {
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

button {
    background: none;
    color: var(--white);
    border: 1px solid var(--white);
    box-sizing: border-box;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: var(--transGlow);
}

.button__default {
    background: var(--black);
    cursor: not-allowed;
    transition: var(--transGlow);
}

.button__green {
    background: var(--greenLight);
    color: var(--black);
    box-shadow: var(--medbayOuter);
    border: 1px var(--white) solid;
    cursor: pointer;
    transition: var(--transGlow);
}

.button__green:hover {
    background: var(--greenDark);
    color: var(--white);
    box-shadow: 0px 0px 50px 10px var(--greenDark), var(--medbayInner);
    transition: var(--transGlow);
}

.button__green:active {
    background: var(--white);
    color: var(--black);
    box-shadow: var(--medbayOuter);
    transition: var(--transGlow);
}

.button__white {
    background: var(--white);
    color: var(--black);
    box-shadow: var(--medbayOuter);
    cursor: pointer;
    transition: var(--transGlow);
}

.button__white:hover {
    box-shadow: 0px 0px 50px 10px var(--greenDark), var(--medbayInner);
    transition: var(--transGlow);
}

.buttonLine__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonLine {
    width: 1px;
    height: 70px;
    background-color: var(--white);
    transition: var(--transGlow);
}

.img__logo {
    position: absolute;
    height: 200px;
    top: -70px;
    padding-left: 30px;
    animation: float 5s ease-in-out infinite;
    z-index: -1;
}

.nav__txt--logo {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.nav__txt--summary {
    display: inline-block;
    text-transform: none;
    line-height: 140%;
    word-spacing: -0.5px;
    margin-top: 24px;
    text-align: center;
    width: 320px;
}

.nav__txt--tooltip {
    cursor: help;
    display: inline;
    color: var(--greenLight);
    text-decoration: underline;
}

/* ---DESKTOP--- */
@media only screen and (min-width: 1024px){
    nav {
        border-right: 1px var(--white) solid;
        grid-column: 1;
        height: 100vh;
        position: sticky;
        top: 0;
        width: 50vw;
        transition: var(--transGlow);
    }

    .nav__txt {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .nav__txt--summary {
        font-size: 16px;
        width: inherit;
        max-width: fit-content;
    }

    .buttonLine__wrapper {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    button {
        width: 190px;
        height: 64px;
    }

    .buttonLine {
        position: absolute;
        height: 1px;
        width: 50%;
        left: 50%;
    }

    .img__logo {
        top: -110px;
        padding-left: 45px;
        height: 300px;
    }
  }

  @keyframes float {
    0% {  transform: translateY(5px);}
    50% { transform: translateY(-5px);}
    100% { transform: translateY(5px);}
  }