:root {
    /* Colors */
    --greenLight: #42D576; 
    --greenDark: #00290F; 
    --black: #000; 
    --white: #fff;

    /* Glowies */
    --medbayInner: 0px 0px 10px var(--greenLight), inset 0px 0px 10px #42D576;
    --medbayOuter: 0px 0px 10px var(--greenLight);
    --transGlow: 500ms ease-in-out;
  }
  
::selection {
  background: var(--greenLight);
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.flexer {
  display: grid;
}

.bg-black {
  background: radial-gradient(74.71% 111.2% at 50% 100%, #000000 0%, #000000 100%);
  transition: var(--transGlow);
}

.bg-green {
  background: radial-gradient(74.71% 111.2% at 50% 100%, rgba(20, 77, 41, 0.58) 0%, #000000 100%);
  transition: var(--transGlow);
}

.glowOuter {
  box-shadow: var(--medbayOuter);
  transition: var(--transGlow);
}

.glowInner {
  box-shadow:var(--medbayInner);
  transition: var(--transGlow);
}

.greenBorderRight {
  border-right: 1px var(--greenLight) solid;
  transition: var(--transGlow);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}