:root {
    /* Colors */
    --greenLight: #42D576; 
    --greenDark: #00290F; 
    --black: #000; 
    --white: #fff;

    /* Glowies */
    --medbayInner: 0px 0px 10px var(--greenLight), inset 0px 0px 10px #42D576;
    --medbayOuter: 0px 0px 10px var(--greenLight);
    --transGlow: 500ms ease-in-out;
  }
  
::selection {
  background: var(--greenLight);
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.flexer {
  display: grid;
  transition: var(--transGlow);
}

.bg-black {
  background: radial-gradient(74.71% 111.2% at 50% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
  transition: var(--transGlow);
  z-index: 4;
}

.bg-green {
  background: radial-gradient(74.71% 111.2% at 50% 100%, rgba(20, 77, 41, 0.58) 0%, rgba(0, 0, 0, 0) 100%);
  transition: var(--transGlow);
  z-index: -4;
}

.glowOuter {
  box-shadow: var(--medbayOuter);
  transition: var(--transGlow);
}

.glowInner {
  box-shadow:var(--medbayInner);
  transition: var(--transGlow);
}

.greenBorderRight {
  margin-bottom: 24px;
  border-bottom: 1px var(--greenLight) solid;
  transition: var(--transGlow);
}

@media only screen and (min-width: 768px){
  .greenBorderRight {
    margin-bottom: 0;
    border-right: 1px var(--greenLight) solid;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.green-explosion {
  animation: explode 1s ease-out;
}

@keyframes explode {
  0% {  box-shadow: 0px 0px 10px 10px var(--greenDark), var(--medbayInner); }
  50% { box-shadow: 0px 0px 200px 50px var(--greenDark), var(--medbayInner); }
  100% { box-shadow: 0px 0px 10px 10px var(--greenDark), var(--medbayInner); }
}