:root {
    /* Colors */
    --greenLight: #42D576; 
    --greenDark: #00290F; 
    --black: #000; 
    --white: #fff;

    /* Glowies */
    --medbayInner: 0px 0px 10px var(--greenLight), inset 0px 0px 10px #42D576;
    --medbayOuter: 0px 0px 10px var(--greenLight);
    --transGlow: 100ms ease-in-out;
  }
  
::selection {
  background: var(--greenLight);
}

body {
  background-color: var(--black);
  color: var(--white);
}

.flexer {
  display: grid;
}

.glowOuter {
  box-shadow: var(--medbayOuter);
  transition: var(--transGlow);
}

.glowInner {
  box-shadow:var(--medbayInner);
  transition: var(--transGlow);
}

.greenBorderRight {
  border-right: 1px var(--greenLight) solid;
  transition: var(--transGlow);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}