footer {
    background-color: var(--greenLight);
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "INET";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    position: sticky;
    bottom: 0;
}

.footer__link,
.footer__link:visited {
    text-decoration: underline;
    color: var(--black);
}