footer {
    background-color: var(--greenLight);
    height: 30px;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "INET";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    position: fixed;
    bottom: 0;
    z-index: 3;
    font-weight: bold;
    letter-spacing:1px;
}

a:focus {
    outline: none;
}

footer a {
    color: var(--black);
    text-decoration: underline;
    transition: var(--transGlow);
}

footer a:hover {
    text-decoration: none;
    transition: var(--transGlow);
}

.footer__link,
.footer__link:visited {
    text-decoration: underline;
    color: var(--black);
}